:root{
    --primary-color: hsl(171, 66%, 44%);
    --secondary-color: hsl(233, 100%, 69%);
    --heading-color: hsl(210, 10%, 33%);
    --paragraph-color: hsl(201, 11%, 66%);
    --font-family:"Bai Jamjuree";
}
body{
    text-align: center; 
    font-size: 18px;
    font-family:var(--font-family);
    
}


header{
    
    background-image:url("../images/bg-header-desktop.png");
    background-size: cover; 
  
}

h1{
    color:var(--heading-color);
}

p{
    color:var(--paragraph-color);
}

.history{
    opacity: 0.25;
    background-color:#F2F2F2;
    mix-blend-mode: normal;
    
}

/* button{
    background-color: ;
} */

/* @media(min-width:375px){
    .hero-section{
        background-image:url("../images/bg-header-desktop.png");
        /* background-repeat: no-repeat; */
    /* }
}  */



.logo{
    /* height:100vh; */
    text-align: center;
    padding-top:50px;
    padding-bottom:20px;
}


button{
    border-radius: 5px
}

.snippets-container{
    margin: 10%;
 }

 

.comp-img{
    display:flex;
    flex-direction: row;
     flex-wrap: wrap;
    width:60%;
}

.comp-snippets{
    display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.computer-container{
    display:flex;
  justify-content: center;
}

.access-clipboard{
    margin: 5.5em; 
}

.mobile-devices{
    width: 812px;
    height: 475px;
    left: 314px;
    top: 1890px;
}

.workflow{
    margin:6%;
}

/* footer */
.attribution { 
    font-size: 11px; 
    text-align: center;
 }
    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }