
body{
    text-align: center; 
    font-size: 18px;
    font-family: "Bai Jamjuree" , sans-serif;
    
}


header{
    
    background-image:url("../images/bg-header-desktop.png");
    background-size: cover;
    background-color:#F2F2F2;
    mix-blend-mode: normal;
    /* opacity: 0.2;
     */
}



.history, button{
    background-color: white;
}


/* @media(min-width:375px){
    .hero-section{
        background-image:url("../images/bg-header-desktop.png");
        /* background-repeat: no-repeat; */
    /* }
}  */



.logo{
    /* height:100vh; */
    text-align: center;
    padding-top:50px;
    padding-bottom:20px;
}


button{
    border-radius: 5px
}

.snippets-container , .history{
    text-align: center;
 }

 

.comp-img{
    display:flex;
    flex-direction: row;
     flex-wrap: wrap;
    width:60%;
}

.comp-snippets{
    display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.computer-container{
    display:flex;
  justify-content: center;
}

/* p{
    line-height: ;
} */



/* footer */
.attribution { 
    font-size: 11px; 
    text-align: center;
 }
    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }