
/* body{
    
} */

.hero-container, .snippets-container{
    /* margin:auto; */
   text-align: center;
}


.logo{
    width:55px;

}

.hero-section{
    background-image:url("../images/bg-header-desktop.png");
    display: flex;
    justify-content: center;
    align-items: center;
}


/* footer */
.attribution { 
    font-size: 11px; 
    text-align: center;
 }
    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }